/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #7bf5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */
header, footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #1216fc;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    color: white;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Headings */
h2 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    background-color: #7bb0f5;
    padding: 10px;
    display: inline-block;
}

/* Checkbox Container */
.checkbox-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#otherDiseases{
    width: 250px;
    height: 30px;
    box-shadow: black;
}

label{
    font-size: 5mm;
}

/* Disease Info Box */
#diseaseInfo {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(219, 253, 252);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    margin-left: 400px;
}

h3{
    color:black;
    font-weight: bold;
    background-color: #7bf5f5;
    padding: 10px;
    display: inline-block;
}

#hi{
    color: black;
    font-weight: bold;
    font-size: 10mm;
}

/* Responsive Design */
@media (max-width: 768px) {
    .disease-box {
        width: 90%;
    }
    form label {
        display: block;
        margin: 5px;
    }
}